api:
  dashboard: true
  insecure: true

log:
  level: INFO

accessLog:
  filePath: "/var/log/traefik/access.log"
  bufferingSize: 100

ping:
  entryPoint: "web"

entryPoints:
  web:
    address: ":80"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: web
    watch: true

  file:
    filename: /dynamic.yml
    watch: true

metrics:
  prometheus:
    addEntryPointsLabels: true
    addServicesLabels: true
    addRoutersLabels: true
    entryPoint: web
    buckets:
      - 0.1
      - 0.3
      - 1.0
      - 2.5
      - 5.0
      - 10.0